.btn {
	border-color: black;
	background-color: black;
	color: white;
}

.btn:hover{
	border-color: black;
	opacity: 0.6;
	color: white;
}

#register {
	color: black;
	text-align: center;
}

#register:hover{
	text-decoration: none;
}