main .container{
	min-height: calc(100vh - 60px);
}

.navbar {
	background-color: black;
}
footer {
	height: 60px;
	background-color: black;
}

@media (max-width: 437px){
	footer {
		font-size: 3.5vw;
	}
}

button .navbar-toggler-icon {
	-moz-transition: all .4s linear;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
}
button .navbar-toggler-icon.down {
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}